{% extends 'base.html' %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">CEP</th>
        <th scope="col">Endereço</th>
        <th scope="col">Número</th>
        <th scope="col">Bairro</th>
        <th scope="col">Estado</th>
        <th scope="col">Complemento</th>
        <th scope="col">Descrição</th>
        <th scope="col">Cidade</th>
      </tr>
    </thead>
    <tbody>
      {% for address in addresses %}
        <tr>
          <th scope="row">{{ address.postal_code }}</th>
          <td>{{ address.address }}</td>
          <td>{{ address.number }}</td>
          <td>{{ address.neighbourhood }}</td>
          <td>{{ address.state }}</td>
          <td>{{ address.complement }}</td>
          <td>{{ address.description }}</td>
          <td>{{ address.city }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}