{% extends 'base.html' %}
{% load static %}

{% block title %}Esoft - Endereços{% endblock %}

{% block content %}
  <!-- Imagem -->
  <img src="{% static 'img/cidade.jpg' %}" class="img-fluid" alt="Responsive image">

  <div class="container">
    <!-- Botão para criar novo endereço -->
    <a 
    type="button" 
    class="btn btn-outline-primary btn-lg btn-block" 
    href="{% url 'address_create'%}"
    >
    Novo Endereço
  </a>
  <br>
  
  <!-- Tabela de endereços -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">CEP</th>
        <th scope="col">Endereço</th>
        <th scope="col">Número</th>
        <th scope="col">Bairro</th>
        <th scope="col">Estado</th>
        <th scope="col">Complemento</th>
        <th scope="col">Descrição</th>
        <th scope="col">Cidade</th>
      </tr>
    </thead>
    <tbody>
      {% for address in addresses %}
      <tr>
        <th scope="row">{{ address.postal_code }}</th>
        <td>{{ address.address }}</td>
        <td>{{ address.number }}</td>
        <td>{{ address.neighbourhood }}</td>
        <td>{{ address.state }}</td>
        <td>{{ address.complement|default_if_none:"" }}</td>
        <td>{{ address.description|default_if_none:"" }}</td>
        <td>{{ address.city }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}