<!-- Mesmo extendendo 'base.html', ainda é necessário fazer os imports
do bootstrap -->
{% extends 'base.html' %}
{% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}
  <div class="alert alert-danger hidden" role="alert" id="cep-alert">
    CEP inválido.
  </div>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    <button type="submit" class="btn btn-primary">Criar</button>
  </form>
  <script type="text/javascript" src="{% static 'js/completeForm.js' %}"></script>
{% endblock content %}